body {
  display: flex;
}
body #box1 {
  width: 100px;
  height: 100px;
  background-image: url('../images/page1.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
body #box2 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 10px;
}
body #box2 span {
  color: red;
}
body img {
  width: 100px;
  height: 100px;
}
